body 
{
	background-color:#ffffff;
	color:Black;
	margin:0px;
	padding:0px;
        overflow:auto;
}

.print
{
    height: 115px;
    vertical-align: top;
    visibility: visible;
    border-style: none;
    padding-top: 0px;
    padding-left: 60px;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 14px;
}
@media print {
   .screen {
       display: none;
    }
    .print {
      
    }
}